# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# Real-time Market Data API Keys
ANGEL_ONE_API_KEY=MY_ANGEL_ONE_API_KEY
UPSTOX_ACCESS_TOKEN=MY_UPSTOX_ACCESS_TOKEN
